---
const { label, bgcolor, labelcolor, type, w, h, iconID, link} = Astro.props;

const buttonType = `custom-btn ${type}`;
---

<a class={buttonType} href={link} target="_blank">
    {label}
    {iconID ? iconID && <svg ><use href={iconID} /></svg> : null}
</a>

<!-- ------ Local style ------ -->

<style define:vars={{ bgcolor: bgcolor, labelcolor: labelcolor, w: w, h: h }}>
    .custom-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--bgcolor);
        color: var(--labelcolor);
        border: none;
        border-radius: 24px;
        padding: 0.25rem 1rem;
        cursor: pointer;

        width: var(--w);
        height: var(--h);

        transition: all 0.25s ease;

        font-size: 1rem;

        text-decoration: none;
    }

    svg {
        height: calc(var(--h) - 10px);
        width: calc(var(--h) - 10px);

        transition: all 0.25s ease;
    }

    .invert:hover {
        background: var(--labelcolor);
        filter: drop-shadow(0 0 0.5rem var(--bgcolor));
        color: var(--bgcolor);
    }

    .invert:hover svg {
        fill: var(--bgcolor);
    }

    .normal:hover {
        box-shadow: 0 0 20px 5px black;
    }
    
</style>